*{margin: 0%; padding: 0%; font-family: sans-serif;}


body{background: #eee;}


/* Nav */

.top-nav {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  transition: top 0.75s ease-in;
    background: white;

}

.mallorca{width: auto; 
  height: 5vh;
  background-color: #eee;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px;
  }

  .mallorca-span{margin-right: 10px;}
  

.top-nav .menu {
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 0;
  /* transition: max-height 0.2s ease-out; */
}
.top-nav .menu li a {
  display: inline-block;
  min-width: 75px;
  margin: 1.2em 0;
color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
}


.top-nav .menu ul li .king{color: #003f82;
font-weight: bold;
font-size: 20px;
}



.top-nav .logo {
 display: flex; justify-content: center; align-items: center;
}
.top-nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
}
.top-nav .menu-icon .navicon {
  background: #20232d;
  display: block;
  height: 2px;
  position: relative;
  width: 1.625rem;
}
.top-nav .menu-icon .navicon:before, .top-nav .menu-icon .navicon:after {
  background: #20232d;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.top-nav .menu-icon .navicon:before {
  top: 7px;
}
.top-nav .menu-icon .navicon:after {
  top: -7px;
}
.top-nav .menu-btn {
  display: none;
}
.top-nav .menu-btn:checked ~ .menu {
  max-height: 100%;
  background-color: #003f82;
  height: 10vh;
  z-index: 999;
  padding: 10px;

}

.top-nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.top-nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.top-nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}




.centar{display: flex;  align-items: center;}






.icon-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.icon-user a {text-decoration: none; color: black;
}

.icon-user .select{width: auto;
border: none;
margin: 0px 20px 0px 10px;
}

/* select.asfour{margin-left: 10px;} */
button, input, optgroup, select, textarea{background:none ;}

.user{margin-left: 2vh;}

select{border: none;}

.logo h1 {font-weight: bold;
  font-size: 2rem;
  display: flex;
  font-weight: 900;
margin: 10px;}

.logo h3{margin: 10px;
font-weight: 600;
border-bottom: 2px solid #003f82;
}

nav ul li {
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}




.Promised{
  text-align: center;
  width: 100%;
  height: 16vh; 
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 2fr;
  color: white;
  position: relative;
  border-radius: 0px 5px 5px 5px;
  align-items: center;}
  
  .Promised .Top{position: absolute;
  width: 30%;
  height: 10vh;
  background-color: white;
  top: -64.3px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  }
  
  .Top-TOP{background-color: #dbdbdb;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .span-top{font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  color: #eee;
  font-weight: bold;
  }
  
  .TOPS{background: white;}
  
  label.testtran {
    color: lightgray;
  }
  
  .Add{   margin: 10px;
  
  /* display: flex;
  justify-content: center;
  align-items: center; */
  }
  
  .Add input[type="date"]{width: 100%;
    background: none;
     outline: none;
      border: none;
      padding: 10px;
    color: white;
    text-align: center;}
  
  
  .Add input[type="time"]{
    width: 100%;
    background: none;
    outline: none;
     border: none;
     padding: 10px;
   color: white;
   text-align: center;
  
  }
  
    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 100%;
      height: 100%;
      /* border-right: 2px solid #003f82; */
      /* padding-right: 15px; */
    }
    
    .search__input {
      text-align: center;
      border-radius: 5px;
      font-family: inherit;
      font-size: inherit;
      background:none;
      color: black;
      padding: 0.7rem 1rem;
      height: 100%;
      width: 100%;
    
      border: none;
      outline: none;
    }
    
  
  
    
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc;
    }
    
    /* .search__input:focus + .search__button {
      background-color: #f0eeee;
    }
     */
    .search__button {
      border: none;
      background: none;
      margin-top: .1em;
    }
    
    .search__button:hover {
      cursor: pointer;
    }
    
    .search__icon {
      height: 1.3em;
      width: 1.3em;
      fill: #b4b4b4;
    }
  
  
  




.contenar{width: 100%; height: 100vh;
display: grid;
grid-template-columns: 1fr 2.5fr;
margin-top: 10vh;

overflow: hidden;
}

.con{
  display: grid;
  grid-template-rows: 3fr 1fr 2fr 2fr;
  margin: 0px 20px;
  background: white;
  background-color: var(--color-background,rgba(255,255,255,1));
    transition: box-shadow 300ms ease-in-out 0s;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

ul{margin: 10px;}
ul li {list-style-type: none;}

ul li a {text-decoration: none;}

.checkbox{display: flex;

justify-content: space-between;
align-items: center;
}
/* 
input[type="checkbox"]{margin-right: 10px;} */
.slider {
  background:var(--color-secondary,rgba(138,138,138,1)) ;
  border-radius: 100px;
  padding: 1px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 51px;
  height: 15px;
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset,
        #003f82 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.slider::after {
  content: "";
  display: flex;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: white;
  border: 1px solid #003f82;
  border-radius: 200px;
  position: absolute;

}

.switch input[type="checkbox"]:checked + .slider {
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, #003f82 0px 0px 0px 2px inset, #003f82 0px 0px 0px 24px inset,
        rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.switch input[type="checkbox"]:checked + .slider::after {
  left: 30px;
}

.switch input[type="checkbox"] {
  display: none;
}



.f{
margin-bottom: 5px;
}

.f h2{margin: 10px;
font-size: large;
}

.num {
  display: flex;
  justify-content: space-around;
}

input[type="range"] {
  margin: 10px;
  width:-webkit-fill-available;
}

input[type="range"]::-moz-range-thumb {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  background: red;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(0,0,0,.13)),color-stop(100%,rgba(255,255,255,0)));
  background-image: -moz-linear-gradient(rgba(0,0,0,.13),rgba(255,255,255,0));
  background-image: -webkit-linear-gradient(rgba(0,0,0,.13),rgba(255,255,255,0));
  background-image: linear-gradient(rgba(0,0,0,.13),rgba(255,255,255,0));
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


svg{width: 10%; margin-right: 10px;} 

ul li a{display: flex; 
  color: black;
align-items: center;
margin-top: 3vh;
}


.cars{
 display: grid;
 grid-template-columns: 1fr  1fr 1fr;
/* background: white; */
overflow: auto;
}


.card{
margin: 10px;
height: 60vh;
background-color: var(--color-background,rgba(255,255,255,1));
    transition: box-shadow 300ms ease-in-out 0s;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
display: grid;
grid-template-rows:1fr 3fr 1fr 1fr ;
}

/* .card-titel{background-color: red;} */

.card-titel h2{margin: 10px;}
.card-titel p{margin: 10px;}


.card-img{display: flex;
justify-content: center;
align-items: center;
}

.card-img img{width: 70%;}


.card-coo{
display: flex;
justify-content: space-around;
align-items: center;
}
.card-coo .o{text-align: center;}

.card-coo .o h3{font-size: small;
text-align: center;
color: rgba(138,138,138,1);
font-weight: normal;
}

.card-coo .o svg{width: 30px;
  align-items: center;
}



.card-coo ul li {display: inline-block;}


.card-salre{background:none;}
.card-salre h2{margin: 10px;}

::-webkit-scrollbar {
  width: 0;
}